<%- include("partials/header"); -%>

<h1>Home</h1>
<h4> <%= contentOfHome %> </h4>

<div class="post">
    <% postsArray.forEach(function(post){ %> 
        <h1 id="heading"> <%= post.title %> 
        <a href="/edit/<%= post._id %>"  ><i class="far fa-edit edit"></i></a>
        <a href="/delete/<%= post._id %>"  ><i class="fas fa-trash trash"></i></a>
    
    
    </h1>
        <p> <%= post.content.substring(0,100) + "..." %>
        <a href="/posts/<%= post._id %>"  >Read More</a></p>
        
    <% }); %>
</div>


<%- include("partials/footer"); -%>


